.wrap {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    margin: 3rem 0;
  }
  
  .box {
      height: auto;
      margin: 1rem;
      width: 600px;
  }
  
  .wrap .header {
      text-align: left;
  }
  
  .box img {
      border-radius: 10px;
  }
  
  p {
      font-size: 15px;
  }
  
  
  
  /* MEDIA QUERIES */
  
  @media screen and (max-width:940px) {
  
      p {
          font-size: 14px;
      }
  
      .wrap .header {
          font-size: 1.5rem;
          text-align: center;
      }
  
      .wrap .box-btn button {
          margin: 1rem auto;
          
      }
  }

  @media screen and (max-width:375px) {
    .box img {
        width: 350px;
        height: 300px;
    }
  }