@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* .hero:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .5);
    height: 70vh;
    width: 100%;
} */

.video-bg {
    position: relative;
    width: 100%;
    height: 90vh;
    top: 0;
    object-fit: cover;
}

.subtitle {
    letter-spacing: .5rem;
}

.hero .container {
    top: 45%;
    align-items: center;
    z-index: 3333;
    position: absolute;
}

.hero .content {
    margin: auto;
    width: 100vw;
}

.hero h1 {
    color: var(--primary-color);
    font-size: 7rem;
    letter-spacing: .5rem;
    text-align: center;
}

.hero h2 {
    text-align: center;
    color: #f8f8f8;
    margin: 1rem 1rem;
}

.hero button {
    margin: auto;
}


@media screen and (max-width:940px) {
    .hero h1 {
        font-size: 3.5rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .hero h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
}



