.InsuranceSection {
    position: relative;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0);
}

.InsuranceSection .container {
    height: auto;
    position: relative;
}

.InsuranceSection .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    height: auto;
    /* top: 20%; */
    width: 100%;
    /* position: relative; */
}

.InsuranceSection p {
    text-align: center;
    padding: 1rem;
}

.InsuranceSection .content p {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}

.InsuranceSection .content h2 {
    text-align: center;
    margin: auto;
    margin-bottom: 0rem;
}

.insurance-thumbnail img {
    margin: 5px;
    width: 200px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
}



.cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.form-cta {
    text-align: center;
}

.form-cta p {
    margin: auto;
}

/*  */

@media screen and (max-width: 940px) {
    .InsuranceSection .content {
        left: 0;
        width: 100%;
        padding: 1rem;
        /* background: rgba(255, 255, 255, .7); */
    }



    .testimInsuranceSectiononials h2 {
        font-size: 25px;
    }

    .InsuranceSection p {
        font-size: 15px;
    }

    .InsuranceSection h2 {
        font-size: 22px;
    }
}










